.arithmetic{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}



.arithmetic img {
    width: 100%;
    height: auto;
    max-width: 600px;
    
}

.adjust{
    width: 100%;
    height: auto;
    max-width: 1500px;
}

.box{
    background-color: white;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.box p{
    color: rgb(1, 101, 1);
}

/* .ao2{
    position: absolute;
    top: 83%;
    left: 37%;
}

.assO1{
    position: absolute;
    top: 135%;
    left: 33%;
}

.assO2{
    position: absolute;
    top: 178%;
    left: 30%;
}

.comp1{
    position: absolute;
    top: 234%;
    left: 40%;
}

.comp2{
    position: absolute;
    top: 282%;
    left: 55%;
}

.inc1{
    position: absolute;
    top: 340%;
    left: 28%;
}

.inc2{
    position: absolute;
    top: 390%;
    left: 35%;
}

.lo1{
    position: absolute;
    top: 448%;
    left: 58%;
}
 */
